<div class="col-lg-4 p-4 bg-warning mx-auto" style="margin-top: 15%;">
    <h1 class="text-center">
        <strong><div class="sidebar-brand-text mx-3">Beauty World <sup>Admin</sup></div></strong>
    </h1>
    <form #frm="ngForm" class="mt-4" (submit)="login()">
        <div class="row">
            <div class="col-lg-8">
                <div class="form-group">
                    <input type="email" class="form-control p-4 text-center text-light" placeholder="Email" [(ngModel)]="Aemail" name="Aemail" style="background-color: unset;border: 1px solid white;">
                </div>
                <div class="form-group mb-0">
                    <input type="password" class="form-control p-4 text-center text-light" placeholder="Password" [(ngModel)]="Apassword" name="Apassword" style="background-color: unset;border: 1px solid white;">
                </div>
            </div>
            <div class="col-lg-4">
                <button type="submit" class="btn btn-primary w-100 h-100">LOGIN</button>
            </div>
        </div>
    </form>
</div>